/*VARIÁVEIS*/
:root {
    /*CORES PRINCIPAIS*/
    --gray-p: #66717E;
    --white-p: #FFFCF9;
    --lightblue-p: #B1EDE8;
    --black-p: #0B090B; 
    
    /*FONTE*/
    --text-p: sans-serif;
}

body {
    background-color: var(--gray-p);
}

.back-site {
    position: fixed;
    top: 25px;
    left: 35px;
}

.back-site__title {
    color: var(--white-p);
    font-family: var(--text-p);
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
}

.back-site__title:hover {
    color: var(--lightblue-p)
}

.socialmedia-container__instagram__link:hover,
.socialmedia-container__gmail__link:hover,
.socialmedia-container__linkedin__link:hover,
.socialmedia-container__github__link:hover {
    color: var(--gray-p);
}

.socialmedia-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 270px;
    margin: 200px auto;
    background-color: var(--white-p);
    border-radius: 4px;
    padding: 30px;
    box-shadow: 0 0 20px var(--black-p);
}

.socialmedia-container__instagram,
.socialmedia-container__gmail,
.socialmedia-container__github,
.socialmedia-container__linkedin {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.socialmedia-container__instagram__img,
.socialmedia-container__gmail__img,
.socialmedia-container__linkedin__img {
    width: 45px;
    height: 45px;
    user-select: none;
}

.socialmedia-container__github__img {
    width: 70px;
    height: 45px;
    user-select: none;
}

.socialmedia-container__instagram__link,
.socialmedia-container__gmail__link,
.socialmedia-container__linkedin__link {
    color: var(--black-p);
    font-family: var(--text-p);
    font-weight: bolder;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
    margin-left: 10px;
}

.socialmedia-container__github__link {
    color: var(--black-p);
    font-family: var(--text-p);
    font-weight: bolder;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
    margin-right: 15px;
}