@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*VARIÁVEIS*/
:root {
    /*CORES PRINCIPAIS*/
    --gray-p: #66717E;
    --white-p: #FFFCF9;
    --lightblue-p: #B1EDE8;
    --black-p: #0B090B;

    /*FONTE*/
    --text-p: 'Poppins', sans-serif;
}

body {
    background-color: var(--gray-p);
}

.nav-site {
    position: fixed;
    top: 0.1px;
    left: 0;
    width: 98.4%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--white-p);
    border: 3px solid var(--black-p);
}

.nav-site__back,
.nav-site__next {
    color: var(--gray-p);
    font-family: var(--text-p);
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
}

.nav-site__home {
    color: var(--black-p);
    font-family: var(--text-p);
    font-weight: bolder;
    font-size: 35px;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
}

.nav-site__back:hover,
.nav-site__next:hover {
    color: var(--lightblue-p);
}

.whoisme-container {
    width: 350px;
    height: 350px;
    margin-top: 150px;
    margin-left: 200px;
    background-color: var(--white-p);
    border: 3px solid var(--black-p);
    border-radius: 8px;
    padding: 25px;
    box-shadow: -9px 9px 8px var(--black-p);
}

.whatdoido-container {
    width: 350px;
    height: 450px;
    margin-top: 50px;
    margin-left: 850px;
    background-color: var(--white-p);
    border: 3px solid var(--black-p);
    border-radius: 8px;
    padding: 25px;
    box-shadow: 9px 9px 8px var(--black-p);
}

.skills-container {
    width: 350px;
    height: 455px;
    margin-top: 50px;
    margin-left: 200px;
    background-color: var(--white-p);
    border: 3px solid var(--black-p);
    border-radius: 8px;
    padding: 25px;
    box-shadow: -9px 9px 8px var(--black-p);
}

.hobbies-container {
    width: 350px;
    height: 330px;
    margin-top: 50px;
    margin-left: 850px;
    margin-bottom: 100px;
    background-color: var(--white-p);
    border: 3px solid var(--black-p);
    border-radius: 8px;
    padding: 25px;
    box-shadow: 9px 9px 8px var(--black-p);
}

.whoisme-container__title,
.whatdoido-container__title,
.skills-container__title,
.hobbies-container__title {
    color: var(--black-p);
    font-family: var(--text-p);
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}

.whoisme-container__content,
.whatdoido-container__content,
.skills-container__content,
.hobbies-container__content {
    color: var(--gray-p);
    font-family: var(--text-p);
    font-size: 17px;
    font-weight: bold;
    margin-top: 30px;
}

.whoisme-container__title::selection,
.whoisme-container__content::selection,
.whatdoido-container__title::selection,
.whatdoido-container__content::selection,
.skills-container__title::selection,
.skills-container__content::selection,
.hobbies-container__title::selection,
.hobbies-container__content::selection {
    color: var(--lightblue-p);
    background-color: var(--gray-p);
}